.listaTareas-contenedor{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    color: #333;
}

input[type="text"]{
    width: 80px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.agregar-boton{
    padding: 10px 15px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.agregar-boton:hover{
    background-color: #5999de;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.eliminar-boton{
    padding: 10px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 4px;
}

.eliminar-boton:hover{
    background-color: #c82333;
}